.image-container {
  max-width: 500px;
  position: relative;
  max-height: 300px;
  min-height: 250px; 
  background-repeat: no-repeat; 
  color: white;
}

.name {
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}

.top-line {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
}
.left-top-line {
  display:flex;
}
.aired{
  padding-left: 10px;
  margin: 0;
}

 .overview {
   height: 75px;
   overflow: scroll;
   padding: 10px;
   position: absolute;
   bottom: 0;
   text-align:justify;
 }

 .content {
  max-height: 300px;
  min-height: 250px; 
 }

 .inactive{
  cursor: pointer;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  width: 30px;
  z-index: 1;
}
.inactive:hover{
  width: 35px;    
}

