.suggestion-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin: 20px;
}

.shows-like,
.watchlist {
  margin-left: 20px;
  color: hsla(4, 62%, 30%, 1);
  font-size: 2em;
  font-weight: 700;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

